/* Colors: http://colorpalettes.net/tag/sea-water-color/ */

body {
	color: #15222a;
	background-color: #f4f1ea;
}

#state {
	background-color: #255a62;
	color: #f4f1ea;
	font-size: 1.1em;
}

#state {
	padding: 1px;
}

.status {
	padding-bottom: 5px;
	border-bottom: 1px solid #48b4a5;
}

.status, .actions {
	margin: 10px;
}


#status {
	text-transform: capitalize;
	font-weight: bold;
	padding-right: 10px;
}

#state #file:before {
	position: relative;
	bottom: 2px;
	padding-right: 7px;
}

#state #file:empty:after {
	content: 'Nothing to play.';
	font-style: italic;
}

.actions {
	line-height: 1.5em;
}

.actions a {
	color: #93cadf;
	padding: 0 10px;
}

#state.off .actions a.on,
#state.playing .actions a.play,
#state.paused .actions a.pause {
	color: #ccc;
}

.actions .section {
	display: block;
}

.actions .section b {
	padding-right: 10px;
}

a {
	color: #0390e8;
	text-decoration: none;
}

a:focus {
	color: #48b4a5;
}
